# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/
build/

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite cache
.vite/

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test coverage
coverage/

# TypeScript cache
*.tsbuildinfo
